.venv/
__pycache__/
*.pyc
media/
calculo1/media_*/
calculo1/logs/
calculo1/snaps/
calculo1/concat_*.txt
calculo1/*.mp4
calculo1/render_all_linuxtest.ps1
calculo1_practicos/*.aux
calculo1_practicos/*.log
calculo1_practicos/*.out
calculo1_practicos/*.toc
calculo1_practicos/main.pdf
calculo1_teoria/*.aux
calculo1_teoria/*.log
calculo1_teoria/*.out
calculo1_teoria/*.toc
calculo1_teoria/main.pdf
gal1/media_*/
gal1/logs/
gal1/snaps/
gal1/concat_*.txt
gal1/*.mp4
gal1_teoria/*.aux
gal1_teoria/*.log
gal1_teoria/*.out
gal1_teoria/*.toc
gal1_teoria/main.pdf
